.wrapper{
  min-height: 100vh;
  width: 100%;
}

.header{
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(241, 239, 239);
}

.header h5{
  margin: 0;
  padding-right: 1rem;
  border-right: 1px solid #533f34;
  font-family: navBarTitle;
  font-size: 19px;
  padding-top: 5px;
  letter-spacing: 2px;
}

.header span{
  padding-left: 1rem;
  font-family: navBarLinks;
  font-size: 12px;
  padding-top: 5px;
  font-weight: 100 !important;
  color: #2f2f2f;
}

.goBack{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(241, 239, 239);
}


.svg svg{
  width: 15px;
}

.svg{
  cursor: pointer;
  padding: 1.8rem 2.5rem;
  border-right: 1px solid rgb(241, 239, 239);
}



.loginInput{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.loginInput span{
  color: #666565;
  font-family: LVRegular;
  font-size: 14px;
  margin-bottom: 0.5vh;
}

.loginInput input{
  width: 100%;
  border: 1px solid #eeeded;
  border-radius: 0.1rem;
  padding: 1.5vh 1vw;
  font-size: 13.5px;
  letter-spacing: 0.5px;
  font-family: LVRegular;
  transition: border 0.4s ease;
}

.loginInput input:hover{
  border-bottom: 1px solid #1f1f1f;
}

.loginInput input::placeholder{
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
}

.loginInput input:focus{
  outline: none;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #1f1f1f;
}


.container{
  background-color: #f3f3f3;
  padding: 20%;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form span{
  font-family: LVRegular;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 15px;
}

.container h5{
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1.1428571428571428;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eae8e4;
  flex: 1 1 100%;
  margin-bottom: 2rem;
}

.seePassword{
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  transition: opacity 0.4s ease;
}

.seePassword i{
  color: #1f1f1f;
  font-size: 12px;
}


.validEmail{
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  transition: opacity 0.4s ease;
}

.validEmail i{
  color: #469246;
  font-size: 12px;
}

.form button{
  background-color: black;
  color: white;
  font-family: LVRegular;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: none;
  padding: 0.5rem 0rem;
}